In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/electricPe.csv')

In [ ]:
print(df.shape)

(1000, 14)

In [ ]:
df.head()

,Lead ID,Store Name,Lead Type,Lead Date,Pre-Booking Date,Booking Date,Delivery Date,Cancellation Status,Cancellation Reason,Service Follow-up Date,TAT Pre-Booking (Days),TAT Booking (Days),TAT Delivery (Days),Customer Rating
0,L1000,Bangalore MBC,Warm,2025-10-21,2025-10-25,2025-10-29,2025-11-03,No,NaN,2025-11-28,4.0,4.0,5.0,2.0
1,L1001,Delhi MBC,Warm,2025-10-11,2025-10-14,2025-10-19,2025-10-26,No,NaN,2025-11-22,3.0,5.0,7.0,8.0
2,L1002,Mumbai MBC,Cold,2025-10-01,NaN,NaN,NaN,Yes,Other,NaN,NaN,NaN,NaN,NaN
3,L1003,Bangalore MBC,Cold,2025-10-28,NaN,NaN,NaN,Yes,Model Unavailable,NaN,NaN,NaN,NaN,NaN
4,L1004,Delhi MBC,Warm,2025-10-14,2025-10-18,2025-10-21,2025-10-24,No,NaN,2025-11-12,4.0,3.0,3.0,8.0

Data Cleaning

1.Handling Nulls

In [ ]:
print(df.isnull().sum())

Lead ID                     0
Store Name                  0
Lead Type                   0
Lead Date                   0
Pre-Booking Date          188
Booking Date              188
Delivery Date             188
Cancellation Status         0
Cancellation Reason       729
Service Follow-up Date    271
TAT Pre-Booking (Days)    188
TAT Booking (Days)        188
TAT Delivery (Days)       188
Customer Rating           271
dtype: int64

In [ ]:
df['Cancellation Reason'] = df['Cancellation Reason'].fillna('Not Cancelled')

2.Standardize Date Formats:Convert all date columns to datetime

In [ ]:
for col in ['Lead Date', 'Pre-Booking Date', 'Booking Date', 'Delivery Date', 'Service Follow-up Date']:
    df[col] = pd.to_datetime(df[col], errors='coerce')

3.Standardize Categorical Values

In [ ]:
df['Lead Type'] = df['Lead Type'].str.title().str.strip()

4.Clean Numeric data's

In [ ]:
df['TAT Pre-Booking (Days)'] = pd.to_numeric(df['TAT Pre-Booking (Days)'], errors='coerce')
df['TAT Booking (Days)'] = pd.to_numeric(df['TAT Booking (Days)'], errors='coerce')
df['TAT Delivery (Days)'] = pd.to_numeric(df['TAT Delivery (Days)'], errors='coerce')
df['Customer Rating'] = pd.to_numeric(df['Customer Rating'], errors='coerce')

5.Remove Duplicates

In [ ]:
df = df.drop_duplicates(subset=['Lead ID'])

Final Checks

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Lead ID                 1000 non-null   object
 1   Store Name              1000 non-null   object
 2   Lead Type               1000 non-null   object
 3   Lead Date               1000 non-null   datetime64[ns]
 4   Pre-Booking Date        812 non-null    datetime64[ns]
 5   Booking Date            812 non-null    datetime64[ns]
 6   Delivery Date           812 non-null    datetime64[ns]
 7   Cancellation Status     1000 non-null   object
 8   Cancellation Reason     1000 non-null   object
 9   Service Follow-up Date  729 non-null    datetime64[ns]
 10  TAT Pre-Booking (Days)  812 non-null    float64
 11  TAT Booking (Days)      812 non-null    float64
 12  TAT Delivery (Days)     812 non-null    float64
 13  Customer Rating         729 non-null    float64
dtypes: datetime64[ns](5), float64(4), object(5)
memory usage: 109.5+ KB
None

In [ ]:
print(df.describe(include='all'))

       Lead ID     Store Name Lead Type                      Lead Date  \
count     1000           1000      1000                           1000
unique    1000              4         3                            NaN
top      L1999  Bangalore MBC      Warm                            NaN
freq         1            263       509                            NaN
mean       NaN            NaN       NaN  2025-10-16 04:32:09.599999744
min        NaN            NaN       NaN            2025-10-01 00:00:00
25%        NaN            NaN       NaN            2025-10-09 00:00:00
50%        NaN            NaN       NaN            2025-10-16 00:00:00
75%        NaN            NaN       NaN            2025-10-24 00:00:00
max        NaN            NaN       NaN            2025-10-31 00:00:00
std        NaN            NaN       NaN                            NaN

                     Pre-Booking Date                   Booking Date  \
count                             812                            812
unique                            NaN                            NaN
top                               NaN                            NaN
freq                              NaN                            NaN
mean    2025-10-19 04:27:46.995073792  2025-10-22 06:07:05.615763456
min               2025-10-02 00:00:00            2025-10-03 00:00:00
25%               2025-10-11 00:00:00            2025-10-14 00:00:00
50%               2025-10-19 00:00:00            2025-10-22 12:00:00
75%               2025-10-27 00:00:00            2025-10-30 00:00:00
max               2025-11-05 00:00:00            2025-11-10 00:00:00
std                               NaN                            NaN

                        Delivery Date Cancellation Status Cancellation Reason  \
count                             812                1000                1000
unique                            NaN                   2                   6
top                               NaN                  No       Not Cancelled
freq                              NaN                 729                 729
mean    2025-10-26 17:05:01.477832704                 NaN                 NaN
min               2025-10-06 00:00:00                 NaN                 NaN
25%               2025-10-19 00:00:00                 NaN                 NaN
50%               2025-10-27 00:00:00                 NaN                 NaN
75%               2025-11-03 00:00:00                 NaN                 NaN
max               2025-11-17 00:00:00                 NaN                 NaN
std                               NaN                 NaN                 NaN

               Service Follow-up Date  TAT Pre-Booking (Days)  \
count                             729              812.000000
unique                            NaN                     NaN
top                               NaN                     NaN
freq                              NaN                     NaN
mean    2025-11-15 13:37:46.666666752                3.057882
min               2025-10-19 00:00:00                1.000000
25%               2025-11-08 00:00:00                2.000000
50%               2025-11-16 00:00:00                3.000000
75%               2025-11-23 00:00:00                4.000000
max               2025-12-15 00:00:00                5.000000
std                               NaN                1.407344

        TAT Booking (Days)  TAT Delivery (Days)  Customer Rating
count           812.000000           812.000000       729.000000
unique                 NaN                  NaN              NaN
top                    NaN                  NaN              NaN
freq                   NaN                  NaN              NaN
mean              3.068966             4.456897         4.850480
min               1.000000             2.000000         0.000000
25%               2.000000             3.000000         2.000000
50%               3.000000             4.000000         5.000000
75%               4.000000             6.000000         7.000000
max               5.000000             7.000000        10.000000
std               1.402894             1.729376         2.907621

In [ ]:
print(df.isnull().sum())

Lead ID                     0
Store Name                  0
Lead Type                   0
Lead Date                   0
Pre-Booking Date          188
Booking Date              188
Delivery Date             188
Cancellation Status         0
Cancellation Reason         0
Service Follow-up Date    271
TAT Pre-Booking (Days)    188
TAT Booking (Days)        188
TAT Delivery (Days)       188
Customer Rating           271
dtype: int64

In [ ]:
print(df['Lead Type'].value_counts())
print(df['Cancellation Status'].value_counts())
print(df['Store Name'].value_counts())

Lead Type
Warm    509
Hot     303
Cold    188
Name: count, dtype: int64
Cancellation Status
No     729
Yes    271
Name: count, dtype: int64
Store Name
Bangalore MBC    263
Delhi MBC        263
Mumbai MBC       262
Chennai MBC      212
Name: count, dtype: int64

In [ ]:
print(df.duplicated(subset=['Lead ID']).sum())

0

In [ ]:
print(df['Customer Rating'].describe())
print(df['TAT Pre-Booking (Days)'].describe())

count    729.000000
mean       4.850480
std        2.907621
min        0.000000
25%        2.000000
50%        5.000000
75%        7.000000
max       10.000000
Name: Customer Rating, dtype: float64
count    812.000000
mean       3.057882
std        1.407344
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: TAT Pre-Booking (Days), dtype: float64

In [ ]:
print(df.head())
print(df.tail())

  Lead ID     Store Name Lead Type  Lead Date Pre-Booking Date Booking Date  \
0   L1000  Bangalore MBC      Warm 2025-10-21       2025-10-25   2025-10-29
1   L1001      Delhi MBC      Warm 2025-10-11       2025-10-14   2025-10-19
2   L1002     Mumbai MBC      Cold 2025-10-01              NaT          NaT
3   L1003  Bangalore MBC      Cold 2025-10-28              NaT          NaT
4   L1004      Delhi MBC      Warm 2025-10-14       2025-10-18   2025-10-21

  Delivery Date Cancellation Status Cancellation Reason  \
0    2025-11-03                  No       Not Cancelled
1    2025-10-26                  No       Not Cancelled
2           NaT                 Yes               Other
3           NaT                 Yes   Model Unavailable
4    2025-10-24                  No       Not Cancelled

  Service Follow-up Date  TAT Pre-Booking (Days)  TAT Booking (Days)  \
0             2025-11-28                     4.0                 4.0
1             2025-11-22                     3.0                 5.0
2                    NaT                     NaN                 NaN
3                    NaT                     NaN                 NaN
4             2025-11-12                     4.0                 3.0

   TAT Delivery (Days)  Customer Rating
0                  5.0              2.0
1                  7.0              8.0
2                  NaN              NaN
3                  NaN              NaN
4                  3.0              8.0
    Lead ID     Store Name Lead Type  Lead Date Pre-Booking Date Booking Date  \
995   L1995    Chennai MBC       Hot 2025-10-07       2025-10-10   2025-10-15
996   L1996     Mumbai MBC       Hot 2025-10-14       2025-10-19   2025-10-23
997   L1997  Bangalore MBC      Warm 2025-10-15       2025-10-20   2025-10-24
998   L1998  Bangalore MBC      Cold 2025-10-29              NaT          NaT
999   L1999     Mumbai MBC      Warm 2025-10-08       2025-10-13   2025-10-15

    Delivery Date Cancellation Status Cancellation Reason  \
995    2025-10-21                  No       Not Cancelled
996    2025-10-26                  No       Not Cancelled
997    2025-10-30                  No       Not Cancelled
998           NaT                 Yes        Changed Mind
999    2025-10-18                  No       Not Cancelled

    Service Follow-up Date  TAT Pre-Booking (Days)  TAT Booking (Days)  \
995             2025-11-18                     3.0                 5.0
996             2025-11-12                     5.0                 4.0
997             2025-11-19                     5.0                 4.0
998                    NaT                     NaN                 NaN
999             2025-11-13                     5.0                 2.0

     TAT Delivery (Days)  Customer Rating
995                  6.0              5.0
996                  3.0              7.0
997                  6.0              3.0
998                  NaN              NaN
999                  3.0              4.0

In [ ]:
for col in df.columns:
    print(f"{col}: {df[col].nunique()} unique values")

Lead ID: 1000 unique values
Store Name: 4 unique values
Lead Type: 3 unique values
Lead Date: 31 unique values
Pre-Booking Date: 35 unique values
Booking Date: 39 unique values
Delivery Date: 43 unique values
Cancellation Status: 2 unique values
Cancellation Reason: 6 unique values
Service Follow-up Date: 56 unique values
TAT Pre-Booking (Days): 5 unique values
TAT Booking (Days): 5 unique values
TAT Delivery (Days): 6 unique values
Customer Rating: 11 unique values

Calculations

1.Conversion rates

In [ ]:
total_leads = len(df)
prebooking_leads = df['Pre-Booking Date'].notnull().sum()
booking_leads = df['Booking Date'].notnull().sum()
delivery_leads = df['Delivery Date'].notnull().sum()
conversion_lead_to_prebooking = prebooking_leads / total_leads
conversion_prebooking_to_booking = booking_leads / prebooking_leads
conversion_booking_to_delivery = delivery_leads / booking_leads
print("Conversion Rates (Overall):")
print(f"Lead → Pre-Booking: {conversion_lead_to_prebooking:.2%}")
print(f"Pre-Booking → Booking: {conversion_prebooking_to_booking:.2%}")
print(f"Booking → Delivery: {conversion_booking_to_delivery:.2%}")

Conversion Rates (Overall):
Lead → Pre-Booking: 81.20%
Pre-Booking → Booking: 100.00%
Booking → Delivery: 100.00%

Store wise conversion rates

In [ ]:
store_stats = []

for store, group in df.groupby('Store Name'):
    total = len(group)
    prebook = group['Pre-Booking Date'].notnull().sum()
    book = group['Booking Date'].notnull().sum()
    deliver = group['Delivery Date'].notnull().sum()

    stat = {
        'Store Name': store,
        'Total Leads': total,
        'Lead → Pre-Booking (%)': (prebook / total * 100) if total else None,
        'Pre-Booking → Booking (%)': (book / prebook * 100) if prebook else None,
        'Booking → Delivery (%)': (deliver / book * 100) if book else None
    }
    store_stats.append(stat)

store_df = pd.DataFrame(store_stats)

print("\nConversion Rates by Store (%):")
print(store_df[['Store Name', 'Lead → Pre-Booking (%)', 'Pre-Booking → Booking (%)', 'Booking → Delivery (%)']])

Conversion Rates by Store (%):
      Store Name  Lead → Pre-Booking (%)  Pre-Booking → Booking (%)  \
0  Bangalore MBC               80.608365                      100.0
1    Chennai MBC               81.603774                      100.0
2      Delhi MBC               80.608365                      100.0
3     Mumbai MBC               82.061069                      100.0

   Booking → Delivery (%)
0                   100.0
1                   100.0
2                   100.0
3                   100.0

2.Average TAT for each stage per store

In [ ]:
tat_cols = [
    'TAT Pre-Booking (Days)',
    'TAT Booking (Days)',
    'TAT Delivery (Days)'
]
avg_tat_per_store = df.groupby('Store Name')[tat_cols].mean()
print("Average TAT for each stage per store:")
print(avg_tat_per_store)

Average TAT for each stage per store:
               TAT Pre-Booking (Days)  TAT Booking (Days)  TAT Delivery (Days)
Store Name
Bangalore MBC                3.117925            3.033019             4.514151
Chennai MBC                  3.121387            3.202312             4.387283
Delhi MBC                    3.028302            3.018868             4.283019
Mumbai MBC                   2.976744            3.046512             4.627907

3.Cancellation patterns by store and reason

In [ ]:
cancelled_leads = df[df['Cancellation Status'] == 'Yes']
cancellation_patterns = cancelled_leads.groupby(['Store Name', 'Cancellation Reason']).size().reset_index(name='Count')
print("Cancellation patterns by store and reason:")
print(cancellation_patterns)

Cancellation patterns by store and reason:
       Store Name Cancellation Reason  Count
0   Bangalore MBC        Changed Mind     13
1   Bangalore MBC     Financing Issue     14
2   Bangalore MBC   Model Unavailable     13
3   Bangalore MBC               Other     22
4   Bangalore MBC               Price     10
5     Chennai MBC        Changed Mind     15
6     Chennai MBC     Financing Issue     10
7     Chennai MBC   Model Unavailable      8
8     Chennai MBC               Other      8
9     Chennai MBC               Price     18
10      Delhi MBC        Changed Mind     14
11      Delhi MBC     Financing Issue     21
12      Delhi MBC   Model Unavailable     13
13      Delhi MBC               Other     13
14      Delhi MBC               Price     16
15     Mumbai MBC        Changed Mind      9
16     Mumbai MBC     Financing Issue     14
17     Mumbai MBC   Model Unavailable      9
18     Mumbai MBC               Other     14
19     Mumbai MBC               Price     17

4.Breakdown of Hot/Warm/Cold leads

In [ ]:
lead_type_counts = df['Lead Type'].value_counts()
lead_type_percent = df['Lead Type'].value_counts(normalize=True) * 100

print("Overall breakdown of Hot/Warm/Cold leads:")
print(lead_type_counts)
print("\nAs percentages:")
print(lead_type_percent)
lead_type_by_store = df.groupby('Store Name')['Lead Type'].value_counts().unstack(fill_value=0)
lead_type_percent_by_store = df.groupby('Store Name')['Lead Type'].value_counts(normalize=True).unstack(fill_value=0) * 100
print("\nBreakdown by store (counts):")
print(lead_type_by_store)
print("\nBreakdown by store (percentages):")
print(lead_type_percent_by_store)

Overall breakdown of Hot/Warm/Cold leads:
Lead Type
Warm    509
Hot     303
Cold    188
Name: count, dtype: int64

As percentages:
Lead Type
Warm    50.9
Hot     30.3
Cold    18.8
Name: proportion, dtype: float64

Breakdown by store (counts):
Lead Type      Cold  Hot  Warm
Store Name
Bangalore MBC    51   80   132
Chennai MBC      39   70   103
Delhi MBC        51   70   142
Mumbai MBC       47   83   132

Breakdown by store (percentages):
Lead Type           Cold        Hot       Warm
Store Name
Bangalore MBC  19.391635  30.418251  50.190114
Chennai MBC    18.396226  33.018868  48.584906
Delhi MBC      19.391635  26.615970  53.992395
Mumbai MBC     17.938931  31.679389  50.381679

5.NPS of each store

In [ ]:
min_rating = df['Customer Rating'].min(skipna=True)
max_rating = df['Customer Rating'].max(skipna=True)

print(f"Customer Rating Range: {min_rating} to {max_rating}")

Customer Rating Range: 0.0 to 10.0

In [ ]:
def promoter_detractor_counts(group):
    total = group['Customer Rating'].notnull().sum()
    promoters = ((group['Customer Rating'] >= 9) & (group['Customer Rating'] <= 10)).sum()
    detractors = ((group['Customer Rating'] >= 0) & (group['Customer Rating'] <= 6)).sum()
    promoter_pct = (promoters / total * 100) if total > 0 else None
    detractor_pct = (detractors / total * 100) if total > 0 else None
    nps = promoter_pct - detractor_pct if (promoter_pct is not None and detractor_pct is not None) else None
    return pd.Series({
        'Promoters': promoters,
        'Detractors': detractors,
        'Total Ratings': total,
        'Promoter %': promoter_pct,
        'Detractor %': detractor_pct,
        'NPS': nps
    })

counts = df.groupby('Store Name').apply(promoter_detractor_counts)
print(counts)

               Promoters  Detractors  Total Ratings  Promoter %  Detractor %  \
Store Name
Bangalore MBC       23.0       134.0          191.0   12.041885    70.157068
Chennai MBC         28.0        99.0          153.0   18.300654    64.705882
Delhi MBC           30.0       123.0          186.0   16.129032    66.129032
Mumbai MBC          23.0       138.0          199.0   11.557789    69.346734

                     NPS
Store Name
Bangalore MBC -58.115183
Chennai MBC   -46.405229
Delhi MBC     -50.000000
Mumbai MBC    -57.788945

/tmp/ipython-input-2517689290.py:17: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  counts = df.groupby('Store Name').apply(promoter_detractor_counts)

Highlight high-potential leads.

In [ ]:
high_potential_leads = df[
    (df['Lead Type'] == 'Hot') &
    (df['Cancellation Status'] == 'No') &
    (df['Customer Rating'] >= 9)&
    (df['TAT Delivery (Days)'] <= 5)
]

print("High-potential leads:")
print(high_potential_leads)
high_potential_leads.to_csv('high_potential_leads.csv', index=False)

High-potential leads:
    Lead ID     Store Name Lead Type  Lead Date Pre-Booking Date Booking Date  \
70    L1070  Bangalore MBC       Hot 2025-10-18       2025-10-20   2025-10-24
91    L1091    Chennai MBC       Hot 2025-10-03       2025-10-08   2025-10-13
188   L1188  Bangalore MBC       Hot 2025-10-05       2025-10-09   2025-10-12
196   L1196      Delhi MBC       Hot 2025-10-04       2025-10-08   2025-10-13
209   L1209  Bangalore MBC       Hot 2025-10-30       2025-11-03   2025-11-06
233   L1233     Mumbai MBC       Hot 2025-10-06       2025-10-11   2025-10-13
252   L1252     Mumbai MBC       Hot 2025-10-03       2025-10-07   2025-10-09
275   L1275      Delhi MBC       Hot 2025-10-03       2025-10-04   2025-10-09
298   L1298    Chennai MBC       Hot 2025-10-15       2025-10-20   2025-10-21
325   L1325     Mumbai MBC       Hot 2025-10-25       2025-10-27   2025-10-31
374   L1374    Chennai MBC       Hot 2025-10-22       2025-10-25   2025-10-26
379   L1379      Delhi MBC       Hot 2025-10-02       2025-10-04   2025-10-08
383   L1383  Bangalore MBC       Hot 2025-10-20       2025-10-21   2025-10-23
430   L1430      Delhi MBC       Hot 2025-10-09       2025-10-11   2025-10-15
518   L1518    Chennai MBC       Hot 2025-10-28       2025-11-01   2025-11-06
575   L1575  Bangalore MBC       Hot 2025-10-15       2025-10-19   2025-10-23
579   L1579    Chennai MBC       Hot 2025-10-29       2025-10-30   2025-11-01
632   L1632      Delhi MBC       Hot 2025-10-21       2025-10-22   2025-10-24
673   L1673     Mumbai MBC       Hot 2025-10-25       2025-10-27   2025-10-29
701   L1701  Bangalore MBC       Hot 2025-10-02       2025-10-06   2025-10-09
724   L1724    Chennai MBC       Hot 2025-10-06       2025-10-09   2025-10-12
735   L1735    Chennai MBC       Hot 2025-10-11       2025-10-13   2025-10-15
775   L1775    Chennai MBC       Hot 2025-10-22       2025-10-24   2025-10-29
794   L1794     Mumbai MBC       Hot 2025-10-10       2025-10-15   2025-10-19
832   L1832     Mumbai MBC       Hot 2025-10-31       2025-11-05   2025-11-10
851   L1851     Mumbai MBC       Hot 2025-10-12       2025-10-16   2025-10-18
867   L1867    Chennai MBC       Hot 2025-10-20       2025-10-25   2025-10-28
899   L1899    Chennai MBC       Hot 2025-10-09       2025-10-13   2025-10-15
931   L1931      Delhi MBC       Hot 2025-10-04       2025-10-07   2025-10-08
934   L1934    Chennai MBC       Hot 2025-10-08       2025-10-09   2025-10-14
972   L1972     Mumbai MBC       Hot 2025-10-18       2025-10-19   2025-10-23

    Delivery Date Cancellation Status Cancellation Reason  \
70     2025-10-28                  No       Not Cancelled
91     2025-10-16                  No       Not Cancelled
188    2025-10-16                  No       Not Cancelled
196    2025-10-16                  No       Not Cancelled
209    2025-11-11                  No       Not Cancelled
233    2025-10-17                  No       Not Cancelled
252    2025-10-13                  No       Not Cancelled
275    2025-10-13                  No       Not Cancelled
298    2025-10-23                  No       Not Cancelled
325    2025-11-02                  No       Not Cancelled
374    2025-10-28                  No       Not Cancelled
379    2025-10-10                  No       Not Cancelled
383    2025-10-28                  No       Not Cancelled
430    2025-10-20                  No       Not Cancelled
518    2025-11-11                  No       Not Cancelled
575    2025-10-25                  No       Not Cancelled
579    2025-11-03                  No       Not Cancelled
632    2025-10-26                  No       Not Cancelled
673    2025-11-03                  No       Not Cancelled
701    2025-10-14                  No       Not Cancelled
724    2025-10-15                  No       Not Cancelled
735    2025-10-17                  No       Not Cancelled
775    2025-11-03                  No       Not Cancelled
794    2025-10-24                  No       Not Cancelled
832    2025-11-14                  No       Not Cancelled
851    2025-10-20                  No       Not Cancelled
867    2025-10-30                  No       Not Cancelled
899    2025-10-18                  No       Not Cancelled
931    2025-10-13                  No       Not Cancelled
934    2025-10-19                  No       Not Cancelled
972    2025-10-25                  No       Not Cancelled

    Service Follow-up Date  TAT Pre-Booking (Days)  TAT Booking (Days)  \
70              2025-11-11                     2.0                 4.0
91              2025-11-13                     5.0                 5.0
188             2025-11-08                     4.0                 3.0
196             2025-11-01                     4.0                 5.0
209             2025-11-28                     4.0                 3.0
233             2025-10-29                     5.0                 2.0
252             2025-11-01                     4.0                 2.0
275             2025-11-06                     1.0                 5.0
298             2025-11-15                     5.0                 1.0
325             2025-11-30                     2.0                 4.0
374             2025-11-25                     3.0                 1.0
379             2025-11-07                     2.0                 4.0
383             2025-11-18                     1.0                 2.0
430             2025-11-07                     2.0                 4.0
518             2025-11-22                     4.0                 5.0
575             2025-11-23                     4.0                 4.0
579             2025-11-28                     1.0                 2.0
632             2025-11-21                     1.0                 2.0
673             2025-12-03                     2.0                 2.0
701             2025-11-06                     4.0                 3.0
724             2025-11-09                     3.0                 3.0
735             2025-11-08                     2.0                 2.0
775             2025-11-29                     2.0                 5.0
794             2025-11-10                     5.0                 4.0
832             2025-12-07                     5.0                 5.0
851             2025-11-15                     4.0                 2.0
867             2025-11-12                     5.0                 3.0
899             2025-11-15                     4.0                 2.0
931             2025-11-02                     3.0                 1.0
934             2025-11-12                     1.0                 5.0
972             2025-11-15                     1.0                 4.0

     TAT Delivery (Days)  Customer Rating
70                   4.0             10.0
91                   3.0              9.0
188                  4.0              9.0
196                  3.0             10.0
209                  5.0              9.0
233                  4.0              9.0
252                  4.0             10.0
275                  4.0             10.0
298                  2.0             10.0
325                  2.0             10.0
374                  2.0              9.0
379                  2.0             10.0
383                  5.0              9.0
430                  5.0             10.0
518                  5.0             10.0
575                  2.0             10.0
579                  2.0              9.0
632                  2.0              9.0
673                  5.0             10.0
701                  5.0              9.0
724                  3.0             10.0
735                  2.0              9.0
775                  5.0             10.0
794                  5.0             10.0
832                  4.0              9.0
851                  2.0              9.0
867                  2.0              9.0
899                  3.0              9.0
931                  5.0              9.0
934                  5.0              9.0
972                  2.0             10.0

In [ ]:
df.to_csv('cleaned_electricPe.csv', index=False)